@font-face {
    font-family: 'RobotoMono';
    src: url('../fonts/RobotoMono-Thin.ttf');
  }
  
  * {
    font-family: 'Exo 2', sans-serif;
  }

body {
    display: flex;
    justify-content: center;
    text-align: center;
    
    color: #FFF;
    /* background: linear-gradient(to right, rgb(19, 106, 138), rgb(38, 120, 113)); */
    background: #283048;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #859398, #283048);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #859398, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-repeat: no-repeat;
}

input {
    font-size: 2em;
    margin-bottom: 30px;
}

.output {
    padding: 30px 15px;
    background-color: transparent;
}